.MainBlogMainSec {
  padding: 4rem 0rem 5rem 0rem;
  background: white;
  width: 100%;
}

.MainBlogMainDiv {
  width: 90%;
  margin: 0rem auto 0rem;
}

.WelcomingBlogMainDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.WelcomingPOnlyDiv p {
  text-transform: uppercase;
  font-size: 1rem;
  opacity: 0.7;
}

.WelcomeMorePDiv p {
  font-size: 1.6rem;
  font-weight: bolder;
}

.BlogDispalyDiv {
  display: grid;
  margin-top: 2rem;
  grid-gap: 0.7rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(7, 15rem);
  grid-template-areas:
    "EachBlog1 EachBlog2 EachBlog3"
    "EachBlog1 EachBlog2 EachBlog3"
    "EachBlog1 EachBlog2 EachBlog3"
    "EachBlog1 EachBlog5 EachBlog3"
    "EachBlog4 EachBlog5 EachBlog6"
    "EachBlog4 EachBlog5 EachBlog6"
    "EachBlog4 EachBlog EachBlog6";
  width: 100%;
}

.EachBlog1 {
  grid-area: EachBlog1;
}

.EachBlog2 {
  grid-area: EachBlog2;
}

.EachBlog3 {
  grid-area: EachBlog3;
}

.EachBlog4 {
  grid-area: EachBlog4;
}

.EachBlog5 {
  grid-area: EachBlog5;
}

.EachBlog6 {
  grid-area: EachBlog6;
}

.ImageWrapperEachBlog {
  overflow: hidden;
  height: 80%;
}

#BlogEachPic {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

#BlogEachPic:hover {
  scale: 1.2;
}

#BlogLittleTittle {
  margin-top: 0.5rem;
  text-transform: uppercase;
  font-size: 1.4rem;
}

#BlogDescription {
  max-width: 90%;
  margin-top: 0.5rem;
}

.ButtonDateDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0.3rem auto 0rem;
}

.ButtonDateDiv button {
  padding: 0.4rem 1.5rem;
  border: 0.1rem #6565d1 solid;
  color: white;
  cursor: pointer;
  background: transparent;
  font-size: 0.9rem;
  position: relative;
  z-index: 1;
}

.ButtonDateDiv button:hover {
  color: black;
}

.ButtonDateDiv button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #6565d1;
  z-index: -1;
  transition: all 0.1s ease-in-out;
}

.ButtonDateDiv button:hover::after {
  transform: scale(1, 0);
}

.DotDateDiv {
  display: flex;
  column-gap: 0.3rem;
  align-items: center;
}

#BlogCircles {
  font-size: 0.5rem;
  color: #6565d1;
}

@media screen and (max-width: 1515px) {
  .MainBlogMainDiv {
    width: 98%;
  }
}

@media screen and (max-width: 1193px) {
  .BlogDispalyDiv {
    margin-top: 1.5rem;
  }
  .ImageWrapperEachBlog {
    height: 75%;
  }
}

@media screen and (max-width: 1102px) {
  #BlogLittleTittle {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1027px) {
  #BlogLittleTittle {
    font-size: 1.2rem;
  }
  #BlogDescription {
    max-width: 100%;
  }
}
@media screen and (max-width: 1011px) {
  .BlogDispalyDiv {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(11, 15rem);
    grid-template-areas:
      "EachBlog1 EachBlog2"
      "EachBlog1 EachBlog2"
      "EachBlog1 EachBlog2"
      "EachBlog1 EachBlog4"
      "EachBlog3 EachBlog4"
      "EachBlog3 EachBlog4"
      "EachBlog3 EachBlog6"
      "EachBlog5 EachBlog6"
      "EachBlog5 EachBlog6"
      "EachBlog5 EachBlog6"
      "EachBlog5 EachBlog";
  }
  .ImageWrapperEachBlog {
    height: 80%;
  }
}

@media screen and (max-width: 767px) {
  .WelcomingPOnlyDiv p {
    font-size: 0.9rem;
  }

  .WelcomeMorePDiv p {
    font-size: 1.5rem;
  }

  .ImageWrapperEachBlog {
    height: 75%;
  }
}

@media screen and (max-width: 695px) {
  .WelcomingPOnlyDiv p {
    font-size: 0.8rem;
  }

  .WelcomeMorePDiv p {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 544px) {
  .WelcomingBlogMainDiv {
    flex-direction: column;
    row-gap: 0.6rem;
    margin-top: 0.3rem;
  }

  .WelcomingPOnlyDiv p {
    font-size: 0.9rem;
  }

  .WelcomeMorePDiv p {
    font-size: 1.4rem;
  }

  .BlogDispalyDiv {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3rem;
  }

  .AllBlogPosts {
    width: 100%;
    height: 40rem;
  }

  .ImageWrapperEachBlog {
    height: 75%;
    width: 100%;
  }

  #BlogEachPic {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 407px) {
  .WelcomingBlogMainDiv {
    row-gap: 0.5rem;
    margin-top: 0.3rem;
  }
  .WelcomingPOnlyDiv p {
    font-size: 0.8rem;
  }

  .WelcomeMorePDiv p {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 373px) {
  .WelcomingBlogMainDiv {
    row-gap: 0.4rem;
    margin-top: 0rem;
  }
  .WelcomeMorePDiv p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 346px) {
  #BlogLittleTittle {
    font-size: 1.1rem;
  }
  .BlogDispalyDiv {
    grid-template-rows: repeat(22, 15rem);
  }

  #BlogDescription {
    max-width: 100%;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 321px) {
  .WelcomingPOnlyDiv p {
    font-size: 0.7rem;
  }
  .WelcomeMorePDiv p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 291px) {
  .WelcomeMorePDiv p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 264px) {
  .WelcomeMorePDiv p {
    font-size: 0.7rem;
  }
}
