
.DisplayRecipeMainDiv{
    width: 90%;
    margin:6rem auto 6rem;
    display: flex;
    justify-content: space-between;
    row-gap: 4rem;
    flex-wrap: wrap;
}

.DisplayEachRecipe{
    height: 40rem;
    width: 32%;
    text-decoration: none;
}

.EachRecipeImageDiv{
    height: 80%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.EachRecipeImageDiv img{
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.EachRecipeImageDiv img:hover{
    scale: 1.15;
}

.FavIconOnRecipe{
    position: absolute;
    color:#ddddf1;
    top: 0.5rem;
    left: 0.5rem;
    font-size: 3.5rem;
    transition: all 0.5s ease-in-out;
    display: none;
}

.favPage{
    color: #6565d1;
}

.EachRecipeImageDiv:hover .FavIconOnRecipe{
    display: block;
}

.FavIconOnRecipe:hover{
    scale:1.2;
}


.EachRecipeDetailsDiv{
    width: 97%;
    margin: 0.4rem auto 0rem;
}

.EachRecipeTopLittleDetails{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.DotNationsRecipeWrapper{
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
}

#RecipesCircles{
    font-size: 0.5rem;
    color: #6565d1;
}

#RecipeNationality{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: black;
}

#CategoryRecipe{
    text-transform: uppercase;
    font-size: 0.9rem;
    color: black;
    font-weight: bolder;
}

#CategoryRecipe span{
    text-transform: none;
}

#EachRecipeTittle{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: black;
    margin-top: 0.2rem;
}



@media screen and (max-width:1515px){
    .DisplayRecipeMainDiv{
        width: 97%;
    }
}

@media screen and (max-width:1160px){
    .DisplayEachRecipe{
        height: 38rem;
    }
    .FavIconOnRecipe{
        font-size: 3rem;
    }
    
}

@media screen and (max-width:1047px){
    .EachRecipeImageDiv{
        height: 77%;
    }
    .FavIconOnRecipe{
        font-size: 2.5rem;
    }
    
    .DotNationsRecipeWrapper{
        column-gap: 0.2rem;
    }
    #RecipesCircles{
        font-size: 0.45rem;
    }
    
    #RecipeNationality{
        font-size: 0.7rem;
    }
    
    #CategoryRecipe{
        font-size: 0.7rem;
    }
    
    #CategoryRecipe span{
        font-size: 0.9rem;
    }
    #EachRecipeTittle{
        font-size: 1.3rem;
    }
    
}

@media screen and (max-width:894px){
    .DisplayRecipeMainDiv{
        row-gap: 3rem;
    }
    .DisplayEachRecipe{
        height: 40rem;
        width: 47%;
    }
}

@media screen and (max-width:668px){
    .DisplayEachRecipe{
        height: 34rem;
        width: 48%;
    }
}

@media screen and (max-width:553px){
    .DisplayRecipeMainDiv{
        margin:5rem auto 6rem;
        row-gap: 2rem;
    }
    .EachRecipeImageDiv{
        height: 73%;
    }
}

@media screen and (max-width:493px){
    .DisplayRecipeMainDiv{
        row-gap: 1rem;
    }
    .DisplayEachRecipe{
        height: 40rem;
        width: 100%;
    }
}

@media screen and (max-width:388px){
    .DisplayEachRecipe{
        height: 35rem;
    }
}
