.MainHeader{
    width:100%;
    padding:0.6rem 0rem 0.3rem 0rem;
    position: fixed;
    top: 0;
    z-index: 99999;
}

.MainHeader section{
    width: 90%;
    margin: 0rem auto 0rem;
}

.MainNav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ImageLinksInputNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.LinksSearchMenuDivWrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 1rem;
}



.LinksSearchMenuDivWrapper .OnlyLinksOnNav{
    column-gap: 1rem;
    display: flex;
}

.NavFamily{
    text-decoration:none;
    color:black;
    font-size:1.4rem;
    padding: 0rem 0.5rem 0.2rem 0.5rem;
    position: relative;
}

.active{
    color: #6565d1;
}

.NavFamily::after{
    position: absolute;
    content:"";
    right: 0;
    left: 0;
    bottom: 0;
    height: 0.13rem;
    border-radius: 0.8rem;
    background-color: #6565d1;
    transform: scale(0,1);
    transition: all 0.5s ease-out;
}

.NavFamily:hover::after{
    transform: scale(1,1);
}

.SearchMenuDivWrapper{
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 1rem;
}

.SearchMenuDivWrapper div{
    display: flex;
    column-gap: 1.5rem;
}

.SearchForm{
    width: 18rem;
    display: flex;
    border: #6565d1  0.1rem solid;
    border-radius: 0.2rem;
    position: relative;
}

#searchInput{
    width: 90%;
    font-size:1rem;
    padding:0.3rem 0.5rem;
    outline: none;
    border: none;
    background-color: transparent;
}

#SearchBtn{
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0.3rem;
    margin-right: 0.2rem;
    background-color: transparent;
}

#FavouriteIcon{
    font-size: 1.2rem;
    cursor: pointer;
    color: black;
    transition: all 0.5s ease-in-out;
}

#ShoppingBagIcon{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

#UserIcon{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

#FavouriteIcon:hover{
    color: #6565d1;
}

#ShoppingBagIcon:hover{
    color: #6565d1;
}

#UserIcon:hover{
    color: #6565d1;
}

.SuggestionDiv{
    position: absolute;
    top: 1.92rem;
    width: 100%;
    height: auto;
    background-color: black;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
}

.SuggestionDiv a{
    text-decoration: none;
    color: white;
    padding: 0.2rem 0rem 0.2rem 0.2rem;
    font-size: 0.9rem;
}


.MenuDivWrapper{
    z-index: 9999;
    width: 4rem;
    display: none;
    justify-content: end;
    align-items: center;
}

.MenuDivWrapper img{
    width: 100%;
    cursor: pointer;
}



@media screen and (max-width:1515px){
    .MainHeader section{
        width: 100%;
    }

    .MainNav img{
        padding-left: 0.5rem;
    }

    .LinksSearchMenuDivWrapper{
        padding-right: 0.5rem;
    }

    .MenuDivWrapper{
        padding-right: 0.5rem;
    }
}


@media screen and (max-width:1463px){
    .LinksSearchMenuDivWrapper{
        margin-left: 0.3rem;
    }
    .LinksSearchMenuDivWrapper .OnlyLinksOnNav{
        column-gap: 0.2rem;
    }
    .NavFamily{
        padding: 0rem 0.4rem 0.2rem 0.4rem;
    }
    .SearchMenuDivWrapper{
        column-gap: 1rem;
    }
    .SearchForm{
        width: 15rem;
    }
}

@media screen and (max-width:1193px){

    .MainHeader section{
        position: relative;
    }

    .LinksSearchMenuDivWrapper{
        position: absolute;
        right: 0;
        width: 40%;
        top: -0.6rem;
        height: auto;
        min-height: 100dvh;
        background-color: white;
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        justify-content: start;
        padding-top: 2rem;
        transform: translateX(60rem);
        transition: all 0.5s ease-in-out;
    }

    .LinksSearchMenuDivWrapperDisappear{
        transform: translateX(0rem);
        transition: all 0.5s ease-in-out;
    }

    .LinksSearchMenuDivWrapper .OnlyLinksOnNav{
        display: flex;
        flex-direction: column;
        margin: 0rem 0rem 0rem 1.5rem;
        overflow: auto;
    }
    .NavFamily{
        font-size:1.5rem;
        padding: 0.5rem 0.5rem 0.2rem 0.5rem;
    }
    
    .active{
        color: #6565d1;
    }

    .NavFamily:hover::after{
        transform: scale(0,1);
    }

    .SearchMenuDivWrapper{
        padding-bottom: 1rem;
        flex-direction: column;
        margin-left: 2rem;
        row-gap: 1.5rem;
        justify-content: start;
        align-items: start;
    }

    #FavouriteIcon{
        font-size: 1.4rem;
    }

    #ShoppingBagIcon{
        font-size: 1.4rem;
    }
    
    #UserIcon{
        font-size: 1.4rem;
    }
    

    .SearchForm{
        display: flex;
        column-gap:1rem;
        position: relative;
    }

    .MenuDivWrapper{
        display: flex;
    }
    
}

@media screen and (max-width:966px){
    .LinksSearchMenuDivWrapper{
        width: 60%;
    }
}

@media screen and (max-width:890px){
    #MainLogoAtNav{
        width: 13rem;
    }
}

@media screen and (max-width:669px){
    .LinksSearchMenuDivWrapper{
        width: 80%;
    }
}


@media screen and (max-width:456px){
    .LinksSearchMenuDivWrapper{
        width: 100%;
    }
    #MainLogoAtNav{
        padding-left: 0.3rem;
        width: 12rem;
    }

    .LinksSearchMenuDivWrapper{
        padding-right: 0rem;
    }

    .MenuDivWrapper{
        padding-right: 0.3rem;
    }
}

@media screen and (max-width:377px){

    #MainLogoAtNav{
        width: 10rem;
    }
    .LinksSearchMenuDivWrapper .OnlyLinksOnNav{
        margin: 0rem 0rem 0rem 0.2rem;
    }
    .NavFamily{
        font-size:1.5rem;
        padding: 0.5rem 0rem 0.2rem 0rem;
    }
    .SearchMenuDivWrapper{
        margin-left: 0.2rem;
    }
    .MenuDivWrapper{
        width: 3.5rem;
    }
    
}

@media screen and (max-width:364px){
    #searchInput{
        font-size:1rem;
        padding:0.3rem 0.5rem;
        width: 90%;
    }
    
}

@media screen and (max-width:293px){
    #MainLogoAtNav{
        width: 10rem;
    }

    
}