@font-face {
  font-family: minion;
  src: url(../src/assets/fonts/Minion-Regular.otf);
}

@font-face {
  font-family: SFP;
  src: url(../src/assets/fonts/SFPRODISPLAYREGULAR.OTF);
}

*{
  margin: 0;
  padding:0;
  box-sizing:border-box;
  font-family: SFP;
}

.NavFamily{
  font-family:  minion;
}

.MainmainApp{
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: rgb(221, 221, 241);
}